#bkg1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

* {
    margin: 0;
    padding: 0;
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 10%;
}

#parent {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-template-rows: repeat(25, 50px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#headshot { 
    grid-area: 4 / 9 / 8 / 13;
    align-items: center; 
    text-align: center;
    vertical-align: bottom;
}

#name {
    grid-area: 8 / 9 / 9 / 13;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

#information { 
    grid-area: 5 / 14 / 7 / 20; 
    align-items: center;
    text-align: left;
}

#explain { 
    grid-area: 10 / 10 / 11 / 20; 
}

#form { 
    grid-area: 12 / 10 / 18 / 27; 
}

/*#sidebar { 
    grid-area: 9 / 30 / 12 / 31;  
    grid-column: 30 / 31;
    grid-row: 9 / 12;
} */

#github {
    grid-area: 23 / 14 / 24 / 15;
}

#ustc {
    grid-area: 23 / 16 / 24 / 17;
}

#gitlab {
    grid-area: 23 / 18 / 24 / 19;
}

/*.rightSidebar {
    width: 50px;
    margin-left: 90%;
    margin-top: 20%;
    position: fixed;
    height: 150px;
}*/

#clock { 
    grid-area:  18 / 13 / 22 / 30; 
}

.text {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
    letter-spacing: 0.1em;
    font-size: 12px;
    padding: 20px 0 0;
}

#time {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    color: #daf6ff;
    text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
    letter-spacing: 0.05em;
    font-size: 64px;
}

#date {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    color: #daf6ff;
    text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
    letter-spacing: 0.1em;
    font-size: 24px;
}



#copyrigth { 
    grid-area: 15 / 7 / 16 / 9; 
}


#circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: rotate 10s linear infinite;
}

#circle:hover {
    animation-play-state: paused;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(https://api.dujin.org/bing/1920.php);
    min-width: 400px;
    min-height: 600px;
    overflow: hidden;
}

.cover1 {
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
}

.cover2 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: auto;
}

.word1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bolder;
    text-shadow: #000 1px 0 0, #000 0 1px 0, #000 1px 0 0, #000 0 1px 0;
}

.word2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.word3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    font-weight: bolder;
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    color: #fff;
}


.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top;
            font-family: 'Courier New', Courier, monospace; font-weight: bolder;}



